/* 
    Created on : Jan 18, 2016, 1:42:10 AM
    Author     : ALVIN.B
*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.focusglow {
	-webkit-transition: box-shadow .125s ease;
    -moz-transition: box-shadow .125s ease;
    -ms-transition: box-shadow .125s ease;
    -o-transition: box-shadow .125s ease;
    transition: box-shadow .125s ease;
}

.focusglow:focus {
	-webkit-box-shadow: 0px 0px 5px 3px #424445;
	-moz-box-shadow: 0px 0px 5px 3px #424445;
	box-shadow: 0px 0px 5px 3px #424445;
	outline: none;
}

.invisible {
	background: none repeat scroll 0% 0% transparent !important;
}

.nodisplay {
	display: none !important;
}

.allcaps {
	text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

/* flexbox buttonset */
.sample-div-dialog {
	position: relative;
	height: auto;
	width: 450px;
	display: block;
	right: auto;
	bottom: auto;
}

.sample-flex-container {
	width: auto;
	min-height: 47px;
	max-height: none;
	height: auto;
	
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.sample-button {
	flex-grow: 1;
}

#body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* research */
/*http://stackoverflow.com/questions/12239166/footer-at-bottom-of-page-or-content-whichever-is-lower*/