Options +FollowSymLinks
Options -Indexes
AddCharset UTF-8 .html
AddCharset UTF-8 .php
php_value post_max_size 30M
php_value upload_max_filesize 5M
#php_value SMTP smtp.gmail.com
#php_value smtp_port 465

#Rewriting URLs
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://ldc.spumanila.edu.dev/.*$ [NC]
RewriteRule \.(gif|jpe?g|png|pdf|docx?|xlsx?|pps?t?x?|js|css)$ - [F,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z]+)/$ $1.php [NC,L,B]

#ErrorDocument 404 http://ldc.spumanila.edu.dev/